<!--The content below is only a placeholder and can be replaced.-->
<h2>Angular Material Datepicker with Firestore Timestamps example</h2>
<p>
  Firebase is changing how Dates are stored. Going forward, when a Date is part of an object that is saved to Firestore,
  Firestore will automatically convert it into a Timestamp. This will break Angular Material Datepickers if they are
  backed by Date objects. This project is an example of how to make Datepickers work with Firestore Timestamps.
</p>
<p>
  To use this project you need to fill in your Firebase project config into environment.ts
</p>
<h2>References</h2>
<ul>
  <li>Issue in question: <a href="https://github.com/firebase/firebase-js-sdk/issues/726">https://github.com/firebase/firebase-js-sdk/issues/726</a></li>
  <li>Angular Material Docs: <a href="https://material.angular.io/components/datepicker/overview">https://material.angular.io/components/datepicker/overview</a></li>
</ul>
<h2>Example</h2>
<p>
  This field will be stored to Firestore in /sampleData/1
</p>
<mat-form-field>
  <input matInput [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="timestampToSave">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>
<button mat-button (click)="save()">Save Date</button>

<p>
  This field will be displayed from Firestore in /sampleData/1
</p>

<mat-form-field>
  <input readonly matInput [matDatepicker]="picker2" placeholder="Show the date" [(ngModel)]="fromServer">
  <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
  <mat-datepicker #picker2></mat-datepicker>
</mat-form-field>
<button mat-button (click)="load()">Load Date</button>

